<!-- <div>
    <button routerLink="/calculator">PRAC 11</button>
  </div>
  <router-outlet></router-outlet>
  
  
  <div>
    <button routerLink="/todolist">PRAC 12</button>
  </div>
  <router-outlet></router-outlet>
  
  
  <div>
    <button routerLink="/movieRecommendation">PRAC 13</button>
  </div>
  <router-outlet></router-outlet>
   -->
<div class="button-row">
    <button class="button" routerLink="/calculator1">PRAC 11</button>
    <button class="button" routerLink="/todolist">PRAC 12</button>
    <button class="button" routerLink="/movieRecommendation">PRAC 13</button>
</div>
<router-outlet></router-outlet>
