nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
  }
  
  nav a:hover {
    color: #fff;
    background-color: #333;
  }
  
  nav a.active {
    color: #fff;
    background-color: #333;
  }
  
  router-outlet {
    margin-top: 20px;
  }
  