div {
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin: auto;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type='number'] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
    margin-bottom: 20px;
  }
  
  select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  p {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
  }
  