<div>
  <h2>Select a Genre:</h2>
  <form (submit)="onSubmit()">
    <select [(ngModel)] = "selectedGenre" name="genre">
      <option *ngFor="let genre of genres">{{ genre }}</option>
    </select>
    <button type="submit">Submit</button>
  </form>
</div>

<div>
  <h2>Recommended Movies:</h2>
  <div class="movie-list">
    <div class="movie" *ngFor="let movie of recommendedMovies">
      <img [src]="movie.image">
      <div class="movie-details">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.overview }}</p>
        <p>Rating: {{ movie.rating }}</p>
      </div>
    </div>
  </div>
</div>
